@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wdth,wght@112.5,100..800&display=swap');
@import 'tailwindcss';

@layer base {
    h1 {
        font-size: xx-large;
        font-weight: bold;
        margin: 1rem 0rem 1rem 0rem;
    }
    h2 {
        font-size: x-large;
        font-weight: bold;
        margin: 0.5rem 0rem 0.5rem 0rem;
    }
    li {
        margin-left: 2rem;
        list-style-type: disc;
    }
}

@theme {
    --color-calm-grey: #e7e6e2;
    --color-zendle-orange: #fa982e;
    --font-inter: 'InterVariable', 'sans-serif';
    --font-inter--font-feature-settings:
        'liga', 'calt', 'ss07', 'ss08', 'cv01', 'cv08', 'cv09', 'cv10';
    --font-inter-font-variation-settings: 'normal';
    --font-martian-mono: 'Martian Mono', 'monospace';

    --animate-penalty: penalty 1s ease-in;
    --animate-penalty-wiggle: penalty-wiggle 0.4s ease-in-out;
    --animate-terminal: terminal 1.5s linear infinite;
    --animate-loading: loading 3s ease-in-out infinite;

    @keyframes penalty {
        0% {
            opacity: 1;
            transform: translateY(0);
        }
        70%,
        100% {
            opacity: 0;
            transform: translateY(50px);
        }
    }

    @keyframes penalty-wiggle {
        0%,
        100% {
            color: var(--color-black);
            transform: translateX(0);
        }
        33% {
            color: var(--color-red-500);
            transform: translateX(5px);
        }
        66% {
            color: var(--color-red-500);
            transform: translateX(-5px);
        }
    }

    @keyframes terminal {
        0%,
        49.9%,
        100% {
            color: var(--color-black);
        }
        50%,
        99.9% {
            color: var(--color-gray-300);
        }
    }

    @keyframes loading {
        0% {
            transform: rotate(0deg);
        }
        25% {
            transform: rotate(360deg);
        }
        50% {
            transform: rotate(360deg);
        }
        75% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }
}
